body {
  background-color: lightblue;
 
}
@media(max-width:1200px)
	{
h1
{
	font-family: 'Lora',serif;
	color:blue;
	font-size: 1.7em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #222;
	margin-top: 0px;
	margin-bottom: 100px;
	padding: 15px 30px 15px 15px;
	line-height: .75;
	text-align: center;
	background-color: dodgerblue;

}
#frt
{
	padding: 15px 15px 15px 15px;
	height: 30px;
}
#vice
{
position: relative;
		background-color: #ADD8E6;
		font-size: 20px;
		margin: 10px;
		width: 31%;
		height: 40%;
		float: left;
		border: 1px solid black;
		padding: 10px 10px 10px 10px;
		box-sizing: border-box;

}
#dean
{
	position: relative;
		background-color: #ADD8E6;
		font-size: 20px;
		margin: 10px;
		width: 31%;
		height: 40%;
		float: right;
		border: 1px solid black;
		padding: 10px 10px 10px 10px;
		box-sizing: border-box;
}
#clr
{
	clear: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:206px;
  height: 206px;
} 
#head1
{
  text-align: center;
  padding:  10px 10px 10px 10px;
  font-weight: bold;
  font-size: 40px;
  background-color: dodgerblue;
  margin-top: 40px;
  margin-bottom: 40px;
}
#head2,#head3,#head4,#head5
{
	margin-left: 43%;
}
.col1 {
		position: relative;
		background-color: #ADD8E6;
		font-size: 20px;
		margin: 10px;
		width: 31%;
		height: 40%;
		float: left;
		border: 1px solid black;
		padding: 10px 10px 10px 10px;
		box-sizing: border-box;


	}
	.col2 {
		position: relative;
		background-color: #ADD8E6;
		font-size: 20px;
		margin: 10px;
		width: 31%;
		height: 40%;
		float: right;
		border: 1px solid black;
		padding: 10px 10px 10px 10px;
		box-sizing: border-box;

	}


.row:after {
content: "";
display: table;
		}
clear: both;
}
